.signIn__Container{
    max-height: 100%;
    height: 100vh;
    width: 100%;
    margin: auto;

    .signIn{
        height: 500px;
        width: 30%;
        margin: auto;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid lightgray;
        border-radius: 5px;
        background-color: #fff;

        .signIn__heading{
            color: #0095f6;
        }

        form{
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        input{
            display: block;
            margin: 20px;
            text-align: center;
            width: 300px;
            border: none;
            outline: none;
            border-bottom: 1px solid lightgray;
        }

        button{
            background-color: #0095f6;
            color: #fff;
            padding: 5px 0;
            margin: 20px;
            border: 1px solid lightgray;
            cursor: pointer;

            &:hover{
                filter: brightness(110%);
            }
        }

        a{
            color: #0095f6;
            text-decoration: none;
        }
    }
}

@media only screen and (max-width: 600px){
    .signIn__Container{
    
        .signIn{
            height: 350px;
            width: 60%;
    
            .signIn__heading{
                color: #0095f6;
                font-size: 12px;
            }
    
            input{
                font-size: 10px;
                width: 150px;
                
            }
    
            button{
                margin: 0 40px;
                font-size: 10px;
    
            }
            p{
                font-size: 10px;
                margin: 10px;
            }
        }
    }
}