.container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(3,3,3,.2);

  .loader {
    border: .3vw solid #f3f3f3;
    border-radius: 50%;
    border-top: .3vw solid #676767;
    width: 4vw;
    height: 4vw;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: relative;
    margin: auto;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    25% {-webkit-transform: rotate(250deg);}
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    25% {-webkit-transform: rotate(250deg);}
    100% { transform: rotate(360deg); }

  }
}