.header__container {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid lightgray;
  height: 70px;
  z-index: 10000;

  .header {
    width: 60%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;

    div {
      flex-grow: 1;

      .header__logoContainer {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .header__logo {
          width: 100px;
          height: auto;
          object-fit: contain;
          user-select: none;
          cursor: pointer;
        }
      }

      .header__searchContainer {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .header__searchIcon {
          position: absolute;
          left: 40%;
          font-size: 12px;
          color: rgb(171, 171, 171);
        }

        .header__search {
          padding: 5px;
          background-color: #fafafa;
          text-align: center;
          outline: none;
          border: 1px solid lightgray;
          border-radius: 5px;
        }
      }
    }
  }
}
