.userPost__PopUp{
    position: fixed;
    top:30px;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 10;
    background-color: rgba(0,0,0,.3);
    
    .userPost__PopUpContainer{
        height: 600px;
        width: 60%;
        display: flex;
        
        .userPost__PopUpImageContainer{
            width: 57%;
            height: 100%;
            
            .userPost__PopUpImage{
                height: 500px;

                img{
                    height: 100%;
                    width: 100%;
                }
            }

            .userPost__PopUpInfo{
                background-color: #fff;
                height: 100px;
                width: 100%;

                .post__infoContainer{
                    width: 95%;
                    margin: auto;
                }

                .popUp_Likes{
                    width: 10%;
                    text-align: center;
                }
            }
            
        }
        .userPost__PopUpCommentContainer{
            background-color: #fff;
            width: 35%;
            position: relative;

            .userPost__popUpCaption{
                padding: 10px;
                margin: 10px;
                font-weight: lighter;
                font-size: 18px;
                border-bottom: 1px solid lightgray;
            }

            .userPost__PopUpComments{
                width: 100%;
                height: 530px;
                display: flex;
                flex-direction: column;
                
                .userPost__EachComment{
                    padding: 10px 0;
                    width: 90%;
                    margin-left: auto;
                    margin-right: auto;
                    display: flex;
                    justify-content: space-between;

                    .userPost__comments{
                        width: 100%;
                        word-wrap: break-word;
                    }

                    .userPost__CommentDelete{
                        opacity: 0;
                        transition: .4s all ease;
                        cursor: pointer;
                    }

                    &:hover .userPost__CommentDelete{
                        opacity: 1;
                    }
                }

            }

            .userPost__PopUpInputComment{
                height: 50px;
                width: 100%;
                position: absolute;
                bottom: 0;
                border-top: 1px solid lightgray;
            }
        }
        
    }
    .userPost__PopUpCloseOption{
        position: relative;

        .userPost__PopUpClose{
            font-size: 22px;
            margin-left: 5px;
            padding: 5px;
            cursor: pointer;
            background-color: #fafafa;
        }
        .userPost__PostDelete{
            font-size: 22px;
            margin-left: 10px;
            margin-top: 5px;
            padding: 5px;
            cursor: pointer;
            color: #fff;
        }
        .post__Delete{
            user-select: none;
            position: absolute;
            right: 40px;
            background-color: #fff;
            width: 200px;
            height: 40px;
            border: 1px solid lightgray;
            display: none;

            p{
                font-size: 18px;
                font-weight: lighter;
                text-align: center;
                width: 100%;
                cursor: pointer;
                transition: 0.4s all ease;

                &:hover{
                    background-color: #fafafa;
                }
            }
        }
        .DeleteOption__Show{
            display: flex;
            align-items: center;
        }
    }
}

.show__PopUp{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px){
    .userPost__PopUp{
        .userPost__PopUpContainer{
            height: 300px;
            width: 90%;
            .userPost__PopUpImageContainer{
                height: 100%;
                
                .userPost__PopUpImage{
                    height: 250px;
    
                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
                .userPost__PopUpInfo {
                    background-color: #fff;
                    height: 50px;
                    width: 100%;

                    .post__infoContainer span{
                        font-size: 12px;
                    }
                    .popUp_Likes{
                        font-size: 10px;
                        padding: 0 0 0 1px;
                    }
                }
            }
            .userPost__PopUpCommentContainer {
                
                .userPost__popUpCaption {
                padding: 5px;
                margin: 0;
                font-weight: lighter;
                font-size: 10px;
                border-bottom: 1px solid lightgray;
                }
                .userPost__PopUpComments .userPost__EachComment {
                    padding: 2px 0;

                    .userPost__CommentDelete{
                        padding: 0 0 0 5px;
                        font-size: 8px;
                    }
                    .userPost__comments {
                        font-size: 8px;
                    }
                }

                .userPost__PopUpInputComment{
                    .post__commentInputContainer{
                        input{
                            font-size: 8px;
                        }
                        .comment__postButton{
                            font-size: 6px;
                            margin-right: 5px;
                        }
                    }
                }
            }
            .userPost__PopUpCloseOption{
                .userPost__PopUpClose, .userPost__PostDelete{
                    position: relative;
                    top: -5px;
                    font-size: 10px;
                }
                .userPost__PostDelete{
                    left: -5px;
                }
                .userPost__PopUpClose{
                    padding: 3px;
                }
                .DeleteOption__Show {
                    width: 40px;
                    height: 20px;
                }
                p{
                    font-size: 8px;
                }
            }

        }
    }
}